# Auto detect text files and perform LF normalization
* text=auto
<!doctype html>
<html>
<head>
<title>test website </title>
<h1> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ℍ𝕖𝕝𝕝𝕠, 𝕨𝕖𝕝𝕔𝕠𝕞𝕖 𝕥𝕠 𝕞𝕪 𝕨𝕖𝕓𝕤𝕚𝕥𝕖 </h1>
<h2>𝑻𝒉𝒊𝒔 𝒄𝒐𝒏𝒕𝒂𝒊𝒏𝒔  𝒔𝒑𝒊𝒏𝒆𝒕 𝒐𝒇 𝒂𝒍𝒍 𝒕𝒉𝒆 𝒕𝒉𝒊𝒏𝒈𝒔 𝒕𝒉𝒂𝒕 𝑰 𝒉𝒂𝒗𝒆 𝒍𝒆𝒂𝒓𝒏𝒆𝒅 𝒗𝒊𝒂<a href="https://www.youtube.com/watch?v=dD2EISBDjWM&list=PLr6-GrHUlVf_ZNmuQSXdS197Oyr1L9sPB">EJ Media </a>
</head>
<body style="background-color:LEMONCHIFFON;">
<P>🄻🄴🅃🅂 🅂🅃🄰🅁🅃 🅆🄸🅃🄷 🅂🄾🄼🄴 🄱🄰🅂🄸🄲🅂 🄰🄱🄾🅄🅃 🅈🄾🅄🅁🅂🄴🄻🄵,</p>
	<form>


<fieldset>


<legend>𝑬𝒏𝒕𝒆𝒓 𝒚𝒐𝒖𝒓 𝒅𝒆𝒕𝒂𝒊𝒍𝒔&hearts;</legend>
<label for="first name">First Name:</label>
	<input type="text" id="first name" name=""size="56">
	<br>
<label for="age">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAge:</label>
	<input type="number" id=" age" number="" min="16" max="25">
	</form>
	

	<form action=""method="">
<P><B>&rarr;</b> Are you a college student? </P>
Yes:
<input type="radio" name="yes" values=""><br>
&nbspNo:
<input type="radio" name="yes" values=""><br><br>

<p><B>&rarr;</b>Do you know about BTS?</p><br>
	<img src="bts.jpeg" width="600" height="400" title="The Sweetest Boys, BTS" alt="search for BTS"><br><br>
Yes:
<input type="radio" name="yes" values=""><br><br>
&nbspNo:
<input type="radio" name="yes" values=""><br><br>

</form>
<form>
<p> If Yes, then who is your Bias?</p>
<select>
<option values ="Namjoon">Namu/Joonie</option>
<option values ="Seokjin">World Wide Handsome</option>
<option values ="yoongi">Litlle MEOW MEOW</option>
<option values ="hoseok">Hobi</option>
<option values ="jimin">Mochi</option>
<option values ="taehyung">TaeTae</option>
<option values ="jungkook">Kookie</option>
</select>
</form>
<form action=""method="">



<br><br>

<p>Did you stream their new single Dynamite? &hearts;</p>
Yes:
<input type="radio" name="yes" values=""><br><br>
&nbspNo:
<input type="radio" name="yes" values=""><br><br>
	&nbsp&nbsp&nbsp&nbsp&nbsp If not, then click the link below:
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="https://www.youtube.com/watch?v=gdZLi9oWNZg">
<p> <i>Best song in the whole world wide</a></i></p>
 	&nbsp&nbsp&nbsp&nbsp&nbsp If yes, then which are your other favourite song(s)?<br><br>
<input type="checkbox" name="" checked="checked">DYNAMITE<br>
<input type="checkbox" name="">Heartbeat<br>
<input type="checkbox" name="">Spring Day<br>
<input type="checkbox" name="">Boy With Love(ft. Halsey)<br>
<input type="checkbox" name="">Fake Love<br>
<input type="checkbox" name="">Love Maze<br>
<input type="checkbox" name="">Home<br>
<input type="checkbox" name="">Anpanman<br>
<input type="checkbox" name="">Not Today<br>
<input type="checkbox" name=""checked="checked">We are Bulletproof: The Eternal<br><br>
<p><sub>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTo acess any of the songs mentioned above click here 👉🏻<a href="#courios">links: </a> <sub></p>
	</form>
</fieldset>
<br><br><br><br><br>
<P><B>𝕋𝕙𝕒𝕟𝕜-𝕪𝕠𝕦 𝕗𝕠𝕣 𝕪𝕠𝕦𝕣 𝕣𝕖𝕤𝕡𝕠𝕟𝕤𝕖!!</b></P><h2>
I'm a BTS fan/ARMY from India , BTS has recently addressed desi army's because of <B>2<sup>nd</sup></b> Highest Streams of Dynamite were from India!<br>
To Read more about it,<a href ="https://rollingstoneindia.com/exclusive-bts-reflect-on-dynamite-massive-success-in-india/"><P>click here.</p></a>

<P><B><h1>Ⓕⓤⓝ Ⓕⓐⓒⓣ :</h1></b><i> <h2>When you stan bts, you start appreciating people of all race, color, <BR>religion, gender, region, culture, and ethnicity
</i></h2></p>



<a name="courios">Links for all the songs are down below &darr; </a>
<fieldset>

<ul type="arrow">
<li><a href="https://www.youtube.com/watch?v=gdZLi9oWNZg"><P>Dynamite</P></a></li>
<li><a href="https://www.youtube.com/watch?v=b53b2mMJ2k0"><P>Heartbeat</P></a></li>
<li><a href="https://www.youtube.com/watch?v=xEeFrLSkMm8"><P>Spring Day</P></a></li>
<li><a href="https://www.youtube.com/watch?v=XsX3ATc3FbA"><P>Boy With Love(ft. Halsey)</P></a></li>
<li><a href="https://www.youtube.com/watch?v=7C2z4GqqS5E"><P>Fake Love</P></a></li>
<li><a href="https://www.youtube.com/watch?v=n_R0-YosZ3g"><P>Love Maze</P></a></li>
<li><a href="https://www.youtube.com/watch?v=ghJURdZKq3I"><P>Home</P></a></li>
<li><a href="https://www.youtube.com/watch?v=wIq2gPdj_68"><P>Anpanman</P></a></li>
<li><a href="https://www.youtube.com/watch?v=9DwzBICPhdM"><P>Not Today</P></a></li>
<li><a href="https://www.youtube.com/watch?v=UNdad29_G20"><P>We are Bulletproof: The Eternal</P></a></li>
</ul>

</fieldset>














	<form action=""method="">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<H2>
Add Feedback please:<br>
<textarea rows="10" cols="52"> </textarea>
<input type ="Submit" value="Submit">
	</form>
<P>【﻿Ｃｏｎｔａｃｔ　Ｍｅ　ｈｅｒｅ：】 E-mail at :<i> cishasingh@gmail.com</p>
<P> Or at :<a href="https://www.instagram.com/theishachauhan/"> Instagram </p></a>
<P>Or E-mail at :<i> cishasingh@gmail.com</P>
</i></H2></body>
</html>